#work{
    width:154px;
    height:20px;
    /* background-color: lightblue; */
    user-select: none;
    margin-left:4px;
    z-index:1;
}

#progressBar-span-container {
    width: 40px;
    height: 20px;
    /* background-color: pink; */
    margin-left:4px;
    position:relative;
}

#progressBar-span-container span:nth-child(2){
    position:absolute;
    top:-1px;
    margin-left:6px;
}

#outer {
    width: 100px;
    height: 8px;
    float:right;
    margin-top:-14px;
    margin-right:4px;
}

#outer #progressbBar {
    width: 100px;
    height: 2px;
    background-color: rgb(200, 194, 194);
    border-radius: 2px;
    position: relative;
    top: 3px;
}

#outer #progressbBar #circlePoi {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: -4px;
    /* left: 80px;  */
    border: 1px solid rgb(232, 230, 230);
}